extends ../skel


block vars
  - var pageTitle = '新用户注册'


block content
  form.register-form(data-ng-controller='Register', novalidate='novalidate')
    h1.form__title 注册一个江南听雨网帐号

    section.form__section
      h2.form__section__title 身份验证

      input(
        type='text'
        name='number'
        required='required'
        placeholder='您的学号'
        data-ng-model='number'
        data-ng-pattern='/^[0-9]{10}$/'
        )

      input(
        type='text'
        name='idnumber'
        required='required'
        placeholder='身份证后六位'
        data-ng-model='idnumber'
        data-ng-pattern='/^[0-9Xx]{6}$/'
        )

    section.form__section
      h2.form__section__title 住宿信息

      select.dorms__group(data-ui-select2, data-ng-model='dormGroup', data-placeholder='您所在的园区')
        option(value='')
        option(data-ng-repeat='groupName in dormGroups', value='{{$index}}') {{groupName}}

      select.dorms__building(data-ui-select2, data-ng-model='dormBuilding', data-placeholder='您居住的楼号')
        option(value='')
        option(data-ng-repeat='bldgNum in dormByGroup[dormGroups[dormGroup]]' value='{{bldgNum}}') {{bldgNum}}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
